{{contenu}}<br>
<span ng-show='message.length > 0' style="color:red">
        message : {{message}}
</span>
<div class="col-md-4" ng-repeat="group in groups">
			<pre>
	Id 		: {{group._id}}
	Title 		: {{group.name}}
	Description 	: {{group.description}}
	<!-- list actions 	: <div class="col-md-4" ng-repeat="action in group.actions_list"> 		- {{action.title}}	</div> -->
	<a ng-href="#detailGroup/{{group._id}}"">Detail</a>---<a ng-href="#editGroup/{{group._id}}"">Edit</a>---<a ng-href="#groupRolesManager/{{group._id}}">roles manager</a>---<a ng-href="#groupUsersManager/{{group._id}}">users manager</a>---<a ng-href="#deleteGroup/{{group._id}}">Delete</a><br>
	-----------------------------
			</pre>
</div>