{{contenu}}<br>
<span ng-show='message.length > 0' style="color:red">
        message : {{message}}
</span>

	<div class="panel panel-primary">
		<div class="panel-heading">{{user.name}}</div>
		
		<div class="panel-body">
			<pre>
	<img ng-show="user.avatar" ng-src="{{user.avatar}}"/>
	IdUser 		: {{user._id}}
	FName 		: {{ user.first_name }}
	LName 		: {{ user.last_name }}
	Username 	: {{ user.username }}
	Email 		: {{ user.email }}
	Created on 	: {{ user.created_on }}
	Is admin 	: {{ user.isAdmin }}
	<a ng-href="#editUser/{{user._id}}"">Edit</a>---<a ng-href="#deleteUser/{{user._id}}">Delete</a><br>
	-----------------------------
				<br>
			</pre>
		</div>

	</div>