{{contenu}}
<span ng-show='message.length > 0'>
        message : {{message}}
</span>

<pre>
FirstName   : <input type="text" ng-model="user.first_name"><br>
LastName    : <input type="text" ng-model="user.last_name"><br>
UserName    : <input type="text" ng-model="user.username"><br>
Email       : <input type="text" ng-model="user.email"><br>
Is Admin    : <select ng-model="user.isAdmin">
		<option value="">---Please select---</option>
	<option value="true">Yes</option>
		<option value="false">No</option>
</select><br>
User avatar : <input type="file" ngf-select="" ng-model="user.avatar" name="file" ngf-accept="'image/*'" required=""></br>

</pre>
<input type="button" ng-click="saveUser(user)" value="Save" />