{{contenu}}
<span ng-show='message.length > 0' style="color:red">
        message : {{message}}
</span>
<pre>
	FirstName   : <input type="text" ng-model="requestString">
	<input type="button" ng-click="findRole(requestString)" value="Search" />
</pre>
<span ng-show='roles != null && roles.length > 0'>
    <div class="col-md-4" ng-repeat="role in roles">
					<pre>
	Id 		: {{role._id}}
	Title 		: {{role.title}}
	Description 	: {{role.description}}
	list actions 	: <div class="col-md-4" ng-repeat="action in role.actions_list"> 		- {{action.title}}	: {{action.description}}</div>
	<a ng-href="#detailRole/{{role._id}}"">Detail</a>---<a ng-href="#editRole/{{role._id}}"">Edit</a>---<a ng-href="#deleteRole/{{role._id}}">Delete</a><br>
	-----------------------------
			</pre>
	</div>
</span>