{{contenu}}
<span ng-show='message.length > 0' style="color:red">
        message : {{message}}
</span>
<pre>
	FirstName   : <input type="text" ng-model="requestString">
	<input type="button" ng-click="findBoardInstance(requestString)" value="Search" />
</pre>
<span ng-show='boardInstances != null && boardInstances.length > 0'>
    <div class="col-md-4" ng-repeat="boardInstance in boardInstances">
					<pre>
	Id 		: {{boardInstance._id}}
	Title 		: {{boardInstance.label}}
	Description 	: {{boardInstance.description}}
	Created on 	: {{boardInstance.created_on * 1000 | date:"MM/dd/yyyy 'at' h:mma"}}

	Board : 
		- Board_id 	: {{boardInstance.board_id}}

	Organisation :
		- Organisation_Id 	: {{boardInstance.customer_id}}

	Lab :
		- Lab_id 		: {{boardInstance.lab_id}}
	<a ng-href="#editBoardInstance/{{boardInstance._id}}"">Edit</a>---<a ng-href="#deleteBoardInstance/{{boardInstance._id}}">Delete</a><br>
	-----------------------------
			</pre>
	</div>
</span>